{% extends 'base-admin.html.twig' %}

 {% block title %}Contacts{% endblock %}

{% block body %}
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Contacts table</h6>
            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
                <div class="alert-success">
                    {% for message in app.flashes('success') %}
                    {{ message }}
                    {% endfor %}
                </div>
                <table class="table align-items-center mb-0">
                    <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">name</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">email</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            subject
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            message
                        </th>
                        <th class="text-secondary opacity-7">actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td>
                                {{ contact.name }}
                            </td>
                            <td>
                                {{ contact.email }}
                            </td>
                            <td class="align-middle text-center text-sm">
                                {{ contact.subject }}
                            </td>
                            <td class="align-middle text-center">
                                {{ contact.message }}
                            </td>
                            <td class="align-middle">
                                {{ contact.createdAt|date('d-m-Y H:i:s') }}
                            </td>
                            <td class="align-middle">
                                <a href="{{ path('admin_contact_delete',{'id': contact.id}) }}">delete contact</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
